body{
    background-color: black;
}
#first{
    color:greenyellow;
    font-size: xx-large;
    font-weight: 1200;
}
#second{
    color:orange;
    font-size: xx-large;
    font-weight:
}
#third{
    color: greenyellow;
}
